doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/assets/list.css")
    title= 'AdultWork » Hot List'
  body
    h1= 'AdultWork » Hot List'
    a(href= `/hotlist/${ items.map(i => i.id).join(',') }`)= 'save'
    table
      each item in items
        tr
          td= item.id
          td= item.name
